.backup {
  background-color: #00aa3c;
  margin: 0.2rem;
  border-radius: 7px;
  display: table;
}

.backup-no-content {
  background-color: #aa0000;
}

.backup-alreadyOpen {
  background-color: #ffd100;
}
