.btn-preacher {
  margin: 0.1rem;
}
.noTerritories {
  background-color: #00c7ee;
  color: #000000;
}

.oneTerritory {
  background-color: #87ff51;
  color: #000000;
}

.moreTerritories {
  background-color: #00ff25;
  color: #000000;
}

.territoryListObject {
  background-color: #00ff25;
  color: #000000;
}

.selectedTerritory {
  border-color: #16e500 !important;
  border-width: medium;
}
